@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@mixin font-regular {
  font-family: "Pretendard-Regular", sans-serif;
}

@mixin font-bold {
  font-family: "Pretendard-Bold", sans-serif;
}

@mixin font-pixel {
  font-family: "Silkscreen", sans-serif;
}

@mixin font-press-start {
  font-family: "Press Start 2P", system-ui;
}

@mixin font-pixelify {
  font-family: "Pixelify Sans", sans-serif;
}




