@import "./reset";
@import "./fonts";

* {
  box-sizing: border-box;
}

html,
body {
  @include font-regular;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.03rem;
  color: var(--color-font-light2);
  background: var(--color-bg-dark);
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

:root {
  --color-font-light: #fcfcfc;
  --color-font-light2: #e0e0e0;
  --color-font-light3: #bdbdbd;
  --color-bg-dark: #141414;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
