@import "./reset";
@import "./fonts";

* {
  box-sizing: border-box;
}

html,
body {
  @include font-pixelify;
  font-size: 12px;
  line-height: 1.4;
  overflow: hidden;
  background: var(--color-bg-dark);
}

#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --color-font-light: #fcfcfc;
  --color-font-light2: #cfcfcf;
  --color-bg-dark: #141414;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
