@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn:focus {
  animation-name: zoomIn;
}


*, *::before, *::after {
    transition: all ease-out 0.2s;
    cursor: default;
}
* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-style: normal;
    font-weight: 400;
	font-size: 0.95rem;
    line-height: 1.6;
    color : #495057;
    border: 0;
    background: #f8f9fa;
    width: 100%;
    max-width: 32rem;
    height: 100%;
	min-height: -webkit-fill-available;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration:none;
	color: inherit;
}
a, a * {
    cursor: pointer;
    transition: none;
}
p {
    margin: 0;
    padding: 0;
    transition: none;
	line-height: 1.7;
    word-break: keep-all;
}
input, select, button, textarea, pre {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 0.95rem;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-style: normal;
    font-weight: 400;
    outline: none;
    cursor: text;
}
input[type='submit'], button {
    font-size: 1.1rem;
    border: 1px solid #2d2d2d;
    border-radius: 0.3rem;
    color: #2d2d2d;
    background: #fff;
    padding: 0.85rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
input[type='submit']:hover, button:hover {
    background: #2d2d2d;
    color: #fff;
}


.mobile { display: none; }
.font--highlight { color: #2d2d2d; }
.font--white { color: #fff; }
.font--black { color: #212529; }
.font--bold { font-family: 'NEXON Lv1 Gothic OTF Bold'; }
.bg--black { background: #212529 !important; color: #fff !important; }
.bg--white { background: #fff !important; color: #212529 !important; }
.text--center { text-align: center; }
.text--left { text-align: left; }
.text--right { text-align: right; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.align--middle { vertical-align: middle; }
.align--top { vertical-align: top; }

.width--max { max-width: 35rem; margin: 0 auto; }
.width--100 { width: 100%; }
.margin--center { margin: 0 auto; }
.no--transition { transition: none; }

.flexbox {
    display: flex;
    padding: 0;
    flex-direction: row;
}
.flex { display: flex; max-width: 100%; }
.flex--0 { flex: 1; max-width: 5rem; }
.flex--1 { flex: 1; }
.flex--2 { flex: 2; }
.flex--3 { flex: 3; }
.flex--hor { flex-direction: column; }
.flex--top { align-items: flex-start; }
.flex--center { align-items: center; }










.container {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}




.container,
.flip-box,
.front,
.back {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  padding: 0;
}

.card {
  position: relative;
}

.front,
.back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: rgba(47, 47, 56, 0.1) 0px 0.2rem 0.4rem, rgba(47, 47, 56, 0.2) 0px 0.4rem 1.5rem;
    border-radius: 2rem;
    background: #fff;
    padding: 2rem 0;
    margin: 0;
    width: 20rem;
    height: 30rem;
}

.container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.card {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
  justify-items: center;
  align-items: center;
}


.b_button {
  position: absolute;
  left: 10rem;
  bottom: 5rem;
  width: 150px;
  height: 3rem;
  background-color: #adb5bd;
  transition: all 0.3s;
}

.b_button:hover {
  background-color: #adb5bd;
}

.flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.r_wrap {
    position: absolute;
    top: -3rem;
    right: calc(50% - 1.5rem);
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #adb5bd;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: #adb5bd;
}

.b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover {
  background-color: #adb5bd;
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  background-color: #adb5bd;
}

.s_arrow {
    margin-top: -0.1rem;
    margin-left: -0.05rem;
    width: 3rem;
    height: 3rem;
    background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
    background-color: transparent;
    transition: all 0.35s linear;
}

.s_arrow_rotate {
    transform: rotate(-180deg);
    margin-top: 0.15rem;
    margin-left: 0.05rem;
}

#logo {
    display: inline-flex;
    margin: 0 auto;
}
#yk {
    width: 2.7rem;
    margin: 0;
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#yk * {
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#yk:hover #y {
    transform: translateX(0.4rem);
}
#yk:hover #k {
    transform: translateX(-0.4rem);
}

#copyright {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    margin-top: 25rem;
    font-size: 0.8rem;
    text-align: center;
    color: #adb5bd;
}







.box {
    box-shadow: rgba(47, 47, 56, 0.08) 0px 0.2rem 0.4rem, rgba(47, 47, 56, 0.03) 0px 0.4rem 1.5rem;
    border-radius: 0.3rem;
    background: #fff;
    padding: 2rem;
    margin: 0 1.5rem;
    margin-bottom: 2rem;
}
.scroll-hor {
    vertical-align: middle;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all ease-out 0.2s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.scroll-hor::-webkit-scrollbar {
    display: none;
}
/*
.scroll-hor * {
    white-space: initial;
}
*/


#topbar {
    display: flex;
    width: 32rem;
    margin: auto 0;
    height: auto;
    position: fixed;
    z-index: 999;
    top: 0;
    border-radius: 0.3rem;
    padding: 2rem 2rem;
    padding-bottom: 1rem;
    animation-delay: 0.2s;
    background: #f8f9fa;
}
#topbar .edge-bottom{
    content: '';
    position: absolute;
    width: 42rem;
    height: 2rem;
    margin: 0;
    margin-left: -2rem;
    margin-top: 3rem;
    background: -moz-linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    z-index: 99;
}
#topbar #logo,
#topbar #title,
#topbar-m #logo-m,
#topbar-m #title-m {
    flex: 2;
}
#topbar #title {
    text-align: left;
    flex: 10;
    margin-top: -0.2rem;
}
#topbar #yk {
    width: 2.5rem;
    margin: 0;
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#topbar #yk * {
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#topbar #yk:hover #y {
    transform: translateX(0.4rem);
}
#topbar #yk:hover #k {
    transform: translateX(-0.4rem);
}
#topbar .page-title {
    position: absolute;
    margin-top: 0.15rem;
    font-size: 1.1rem; /* 0.95rem */
    line-height: 1.5;
    word-break: keep-all;
    color: #212529; /* #343a40 */
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    animation-duration: 0.2s;
    animation-name: fadeOutTitle;
}
#topbar .page-title.now {
    animation-duration: 0.4s;
    animation-name: fadeInUp;
}
#topbar #github {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.2rem;
}
#topbar #github a {
    width: auto;
    height: auto;
}
#topbar #github p {
    width: fit-content;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
#logo-github-m {
    width: 1.55rem;
    transition: all ease-out 0.2s;
}
#topbar #github p:hover {
    margin-right: 0.3em;
}
#topbar #github p:hover .cls-1,
#topbar #github p:hover .cls-2 {
    fill: #868e96;
}


@keyframes fadeOutTitle {
    from { }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

#sidebar {
    display: block;
    width: 10rem;
	/*height: 100vh;*/
    height: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    padding: 1rem;
    animation-delay: 0.2s;
}
#sidebar #logo {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 1.2rem;
    line-height: 1.3;
    color: #212529;
    width: fit-content;
    text-align: left;
}
#sidebar #yk {
    width: 3rem;
    margin: 1rem 0;
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#sidebar #yk * {
    transition: all ease-out 0.2s !important;
    transform-origin: center;
    cursor: pointer;
}
#sidebar #yk:hover #y {
    transform: translateX(0.3rem);
}
#sidebar #yk:hover #k {
    transform: translateX(0.3rem);
}
#sidebar #contact {
    display: block;
    position: absolute;
    color: #212529;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 0.95rem;
    float: left;
    bottom: 0;
    left: 0;
    margin: 2rem 2.5rem;
}
#sidebar #contact .section {
    margin-bottom: 1rem;
}
#sidebar #contact .section.last {
    margin-bottom: 0;
}
#sidebar #contact a {
    width: auto;
    height: auto;
}
#sidebar #contact p {
    width: fit-content;
    cursor: pointer;
    padding: 0.2rem;
    padding-left: 0;
    line-height: 1.4;
    transition: all ease-out 0.2s;
}
#sidebar #logo-github {
    width: 2rem;
    transition: all ease-out 0.2s;
}
#sidebar #contact .last p:hover {
    margin-left: 0.3em;
}
#sidebar #contact p:hover #logo-github * {
    fill: #868e96;
}
#sidebar #contact input {
    display: none;
}

@keyframes fadeInUpNav {
    from {
        opacity: 0;
        transform: translate3d(0, 350%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

#topbar-m {
    display: none;
    padding: 1.5rem 1rem;
    padding-bottom: 0.5rem;
}
#topbar-m #yk-m {
    width: 2.1rem;
}
#topbar-m #yk-m:hover #y {
    transform: translateX(-0.15rem);
}
#topbar-m #yk-m:hover #k {
    transform: translateX(0.15rem);
}
#topbar-m #title-m {
    text-align: left;
    flex: 4;
}
#topbar-m .page-title-m {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: -0.1rem;
}


@keyframes fadeInMobileNav {
    from {
        opacity: 0;
        transform: translate3d(300%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

#nav-mobile .nav-button-mobile:nth-of-type(1) {
    background: #F03F3E;
}
#nav-mobile .nav-button-mobile:nth-of-type(2) {
    background: #F59F00;
}
#nav-mobile .nav-button-mobile:nth-of-type(3) {
    background: #74B816;
}
#nav-mobile .nav-button-mobile:nth-of-type(4) {
    background: #1E7ED6;
}
#nav-mobile .nav-button-mobile:nth-of-type(5) {
    background: #AE3FC8;
}





#cvs {
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    touch-action: none;
}
#cvs * {
    fill: #212529;
}





.text {
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    word-break: keep-all;
}
.text.big {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #343a40;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.text.small {
    text-align: left;
}
.text .point {
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 0.5rem);
    top: -2rem;
}


.page {
    box-sizing: border-box;
    width: auto;
    /*height: 100vh;*/
	height: 100%;
    max-width: 100%;
}


.flex .content {
    margin: 0 auto;
    max-width: 100%;
}


#more {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1rem 0;
    margin-top: 17rem;
    z-index: 999;
}

#hashtags {
    width: 30rem;
    vertical-align: middle;
    padding: 0 1.5rem;
    margin: 0;
    text-align: left;
    transform: rotate(90deg);
    margin-left: 3rem;
    position: absolute;
    margin-top: 12rem;
    overflow: hidden;
}
#hashtags .edge-left{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 3rem;
    margin: 0;
    margin-left: -1.5rem;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
    z-index: 99;
}
#hashtags .edge-right {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 3rem;
    margin: 0;
    margin-left: 17rem;
    margin-top: -3.5rem;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
    z-index: 99;
}
#hashtags .appr {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hashtags .hashtag {
    display: inline-block;
    font-size: 0.9rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    margin: 1rem 0;
    margin-right: 0.8rem;
    padding: 0;
    animation-duration: 1s;
    z-index: 99;
    transition: transform ease-out 1s, background ease-out 0.2s, color ease-out 0.2s;
}
#hashtags .appr:nth-last-of-type(1) .hashtag {
    margin-right: 0 !important;
}
#hashtags.hover .hashtag.hover,
#hashtags:not(.hover):hover .hashtag:hover,
#hashtags:not(.hover):active .hashtag:active {
    
}

#hashtags .hashtag:nth-of-type(2) {
    animation-delay: 0.2s;
}
#hashtags .hashtag:nth-of-type(3) {
    animation-delay: 0.4s;
}
#hashtags .hashtag:nth-of-type(4) {
    animation-delay: 0.6s;
}
#hashtags .hashtag:nth-of-type(5) {
    animation-delay: 0.8s;
}
#hashtags .hashtag:nth-of-type(6) {
    animation-delay: 1.0s;
}
#hashtags .hashtag:nth-of-type(7) {
    animation-delay: 1.2s;
}
#hashtags .hashtag:nth-of-type(8) {
    animation-delay: 1.4s;
}


.logo-yk {
    fill:#212529;
}

#info {
    padding: 0 1.5rem;
}
#photo {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    background: url("src/formal.jpg");
    background-position: center -0.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100rem;
    vertical-align: top;
    box-sizing: border-box;
}
#profile  {
    display: block;
    text-align: left;
    width: 100%;
    padding: 0;
}
#profile input {
    display: none;
}
#name {
    font-size: 1.2rem;
    color: #212529;
    margin-top: 1.3rem;
}
#name-eng {
    font-size: 0.8rem;
}
#profile .name.title div {
    display: inline-block;
    padding: 0.5rem 0.9rem;
    background: #212529;
    color: #fff;
    border-radius: 0.3rem;
}
#profile .line {
    font-size: 0.85rem;
    padding-top: 0.5rem;
}
#profile .title {
    margin-top: 0.5rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    /*color: #212529;*/
}
#profile #icons {
    margin-top: 0.8rem;
}
#profile .icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 1.3rem;
}
#profile .icon svg{
    width: 1.7rem;
    height: auto;
    cursor: pointer;
}
#profile .icon svg * {
    fill: #212529;
    stroke: #212529;
}
#profile .icon:hover svg * {
    fill: #868e96;
    stroke: #868e96;
}

#logo-github {
    width: 1.5rem !important;
}

#skills {
    width: 100%;
    height: auto;
    vertical-align: middle;
    padding: 0 1.5rem;
    padding-right: 4rem;
    text-align: left;
    margin-top: 6rem;
}
#skills .appear {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#skills .skill {
    display: inline-flex;
    width: 2.3rem;
    height: 2.3rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
#skills .skill:hover {
    background: #f8f9fa;
}
#skills .skill img {
    width: 1.5rem;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    transform-origin: center;
    transition-duration: 0.3s;
}
#skills .skill.hor img {
    width: 1.8rem;
}
#skills .skill:hover img {
    
}
#skills .skill span {
    position: absolute;
    opacity: 0;
    text-align: center;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    color: #212529;
    font-size: 0.8rem;
    margin-top: 1rem;
}
#skills .skill:hover span {
    opacity: 1;
    margin-top: 3rem;
    transition-duration: 0.4s;
    transition-delay: 0.15s;
}
#skills .level {
    opacity: 0;
    width: 0;
    position: absolute;
    text-align: left;
    margin-top: -0.3rem;
    height: 0.3rem;
    background: #212529;
}
#skills .skill:hover + .level {
    opacity: 1;
    width: 70%;
}






#exps {
    width: 100%;
    vertical-align: middle;
    padding: 1.5rem;
    margin: 0;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}
#exps .exp {
    display: inline-block;
    width: calc(100% - 6rem);
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
    border-radius: 0.3rem;
    margin: 0;
    margin-right: 0.6rem;
}
#exps .edge-left{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 39rem;
    margin: -1rem 0;
    margin-left: -1.5rem;
    background: -moz-linear-gradient(90deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 35%, rgba(255,255,255,0) 100%);
    z-index: 99;
}
#exps .edge-right {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 39rem;
    margin: -0.5rem 0;
    margin-left: 39rem;
    margin-top: -37.5rem;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(248,249,250,1) 65%, rgba(248,249,250,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(248,249,250,1) 65%, rgba(248,249,250,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(248,249,250,1) 65%, rgba(248,249,250,1) 100%);
    z-index: 99;
}
#exps .exp:nth-last-of-type(2) {
    margin-right: 0;
}
#exps .exp .content {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 1.5;
}
#exps .exp .content .title {
	font-family: 'NEXON Lv1 Gothic OTF Bold';
    color: #212529;
    margin-bottom: 1.5rem;
    padding: 0.7rem 1rem;
    background: #f8f9fa;
    border-radius: 0.3rem;
    width: fit-content;
}
#exps .exp .content .date {
    font-size: 0.9rem;
}
#exps .exp .content .info {
    text-align: left;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    height: 8rem;
    word-break: keep-all;
}
#exps .exp .preview {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 18rem;
    background: #f8f9fa;
    border-radius: 0.3rem;
    margin-top: 1rem;
}
#exps .exp img {
    display: block;
    width: inherit;
    border-radius: 0.3rem;
}


#contact {
    display: flex;
}
#contact input {
    display: none;
}
#contact .button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 0.9rem;
	cursor: pointer;
}
#contact .button:first-of-type {
    margin-right: 0.5rem;
}
#contact .button:last-of-type {
    margin-left: 0.5rem;
}
#contact .button:hover {
    background: #212529;
    color: #fff;
}

.notification {
    position: fixed;
    display: block;
    box-sizing: border-box;
    width: 15rem;
    height: auto;
    max-height: fit-content;
    top: calc(50% + 15.7rem);
    left: calc(50% - 7.5rem);
    background-color: #212529;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 9;
}
.notification p {
    vertical-align: middle;
    margin: 0.7rem 1rem;
}
.notification.animated {
    animation-duration: 0.5s;
}


#mouse{
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 15%;
    right: 0;
    opacity: 0;
}.mouse-icon{
    margin: 0 auto;
    width: 1.5rem;
    height: 2.7rem;
    border: 0.19rem solid #adb5bd;
    border-radius: 100rem;
    position: relative;
    text-align: center;
}.mouse-wheel{
    height: 0.35rem;
    margin: 0.1rem auto;
    display: block;
    width: 0.19rem;
    background-color: #adb5bd;
    border-radius: 100rem;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 0.1rem;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 0.9rem;
        opacity: 0;
    }
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 0.1rem;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 0.9rem;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 0.1rem;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 0.9rem;
	    opacity: 0;
	}
}





[data-aos="show-down"] {
    transform: translateY(-10rem);
    opacity: 0;
}
[data-aos="show-down"].aos-animate {
    transform: translateY(0);
    opacity: 1;
}

[data-aos="show-up"] {
    transform: translateY(10rem);
    opacity: 0;
}
[data-aos="show-up"].aos-animate {
    transform: translateY(0);
    opacity: 1;
}

[data-aos="show-left"] {
    transform: translateX(10rem);
    opacity: 0;
}
[data-aos="show-left"].aos-animate {
    transform: translateX(0);
    opacity: 1;
}

[data-aos="show-right"] {
    transform: translateX(-10rem);
    opacity: 0;
}
[data-aos="show-right"].aos-animate {
    transform: translateX(0);
    opacity: 1;
}

[data-aos="appear"] {
    transform: scale(0.8);
    opacity: 0;
}
[data-aos="appear"].aos-animate {
    transform: scale(1);
    opacity: 1;
}





.hide-mobile {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    vertical-align: middle;
    color: #212529;
    font-size: 1rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    z-index: 999;
}
.hide-mobile p {
    text-align: center;
    margin: 30vh auto;
}





/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) { @media {

}}


/* Mobile */
@media all and (max-width: 840px) and (min-width: 50px) {

    .mobile { display: block; }
    
   

}

@media all and (max-width: 480px) and (min-width: 50px) {



}
