@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn:focus {
  animation-name: zoomIn;
}





*, *::before, *::after {
    transition: all ease-out 0.3s;
    cursor: default;
}

* {
    box-sizing: border-box;
}

html {
    background: #fff;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-style: normal;
    font-weight: 400;
	font-size: 0.95rem;
    color : #343a40;
    border: 0;
    background: #fff;
	height: 100%;
	overflow-x: hidden;
}

#wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	padding: 0;
    margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration:none;
	color: inherit;
}
a, a * {
    cursor: pointer;
    transition: none;
}

p {
    margin: 0;
    padding: 0;
    transition: none;
	line-height: 1.7;
}

input, select, button, textarea, pre {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 0.95rem;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-style: normal;
    font-weight: 400;
    outline: none;
    cursor: text;
}

input[type='submit'], button {
    font-size: 1.1rem;
    border: 1px solid #2d2d2d;
    border-radius: 0.2rem;
    color: #2d2d2d;
    background: #fff;
    padding: 0.85rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
input[type='submit']:hover, button:hover {
    background: #2d2d2d;
    color: #fff;
}

.mobile {
	display: none;
}

.font--highlight {
    color: #2d2d2d;
}
.font--white {
    color: #fff;
}
.font--black {
    color: #040404;
}

.font--bold {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.bg--black {
    background: #212529 !important;
    color: #fff !important;
}
.bg--white {
    background: #fff !important;
    color: #212529 !important;
}
.text--center { text-align: center; }
.text--left { text-align: left; }
.text--right { text-align: right; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.align--middle {
    vertical-align: middle;
}
.align--top {
    vertical-align: top;
}

.box--shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.max--width {
    max-width: 1200px;
    margin: 0 auto;
}
.margin--center {
    margin: 0 auto;
}

.no--transition {
    transition: none;
}


.flexbox {
    display: flex;
    padding: 0;
    flex-direction: row;
}
.flex--1 { flex: 1; }
.flex--2 { flex: 2; }
.flex--3 { flex: 3; }
.flex {
    display: flex;
}
.flex--hor {
    flex-direction: column;
}
.flex--top {
    align-items: flex-start;
}
.margin-top--1 { margin-top: 1rem; }
.margin-top--2 { margin-top: 2rem; }
.margin-bottom--1 { margin-bottom: 1rem; }
.margin-bottom--2 { margin-bottom: 2rem; }
.margin-right--1 { margin-right: 1rem; }
.margin-right--2 { margin-right: 2rem; }
.margin-left--1 { margin-left: 1rem; }
.margin-left--2 { margin-left: 2rem; }


#header {
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    background: none;
    font-size: 1rem;
    border: 0;
    padding: 1.5rem 2rem;
    transition: margin-top 0s;
}
#header .header-hide {
    display: inline-block;
    z-index: 90;
    margin-left: 0;
    transition: all 1.5s;
}
#header .section {
    display: inline-block;
    margin-right: 3rem;
}
#header a {
    width: auto;
    height: auto;
}
#header.sticky {
    position: fixed;
    top: 0;
    margin: 0;
}
#header.sticky button.github {
    background: #1a1414;
}
#header.sticky .header-hide {
    margin-left: -100vw;
}
#header p {
    border-radius: 100rem;
    cursor: pointer;
    color: #212529;
    padding: 0.7rem;
}
#header p:hover {
    background: #f8f9fa;
}
#header p img {
    width: 1.7rem;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: -0.1rem;
}
#header .last {
    margin-top: 0.3rem;
}
#header input {
    display: none;
}
#name {
    z-index: 99;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}

#header p .tooltip {
	visibility: hidden;
	width: 15rem;
	background: #212529;
	color: #fff;
	text-align: center;
	border-radius: 100rem;
	padding: 0.5rem;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -7.5rem;
	opacity: 0;
	transition: opacity 0.5s;
}
#header p:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
#header p .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}


.text-big {
    font-size: 1.4rem;
    text-align: center;
    padding: 25vh 0;
    padding-bottom: 15vh;
    color: #343a40;
}
.text-small {
    font-size: 1rem;
    text-align: left;
    padding-top: 10vh;
    width: 70%;
    margin: 0 auto;
    line-height: 1.7;
    color: #868e96;
}





.main-title {
    font-size: 20vh;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #212529;
    position: absolute;
}
.title-design {
    transform: rotate(-90deg);
    left: -11vw;
    top: 24vh;
    z-index: 1;
}
.title-develop {
    transform: rotate(90deg);
    right: -15vw;
    top: 95vh;
    z-index: 10;
}



.page {
    height: 100vh;
    width: 100%;
}
#section-1 {
    height: 100vh;
    width: 100%;
	position: relative;
}

#profile {
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 17rem;
    height: 17rem;
    margin: 0 auto;
    background: url("src/formal.jpg");
    background-position: center -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
}
#profile-box {
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 17rem;
    height: 17rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #c0eb75;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    z-index: 4;
}

@keyframes stretch {
  0% {
    transform: scale(1.05);
    background-color: #c0eb75;
  }
  100% {
    transform: scale(1.15);
    background-color: #94d82d;
  }
}

.circle {
    position: absolute;
    top: 80vh;
    left: 60vw;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #339af0;
    animation-name: cstretch;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    z-index: 2;
}
.circle:nth-of-type(3) {
background-color: #5c7cfa;
animation-duration: 1s;
top: 70vh;
left: 50vw;
}
.circle:nth-of-type(4) {
background-color: #20c997;
animation-duration: 1.2s;
top: 10vh;
left: 40vw;
}
.circle:nth-of-type(5) {
background-color: #845ef7;
animation-duration: 1.4s;
top: 80vh;
left: 10vw;
}
.circle:nth-of-type(6) {
background-color: #fcc419;
animation-duration: 1.6s;
top: 33vh;
left: 80vw;
}
.circle:nth-of-type(7) {
background-color: #f06595;
animation-duration: 1.8s;
top: 25vh;
left: 70vw;
}
.circle-big {
    position: absolute;
    top: -10rem;
    right: -18rem;
    width: 45rem;
    height: 45rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f8f9fa;
    animation-name: cstretchbig;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    z-index: 1;
}

@keyframes cstretch {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes cstretchbig {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}


#info {
    font-size: 0.95rem;
    padding: 6rem;
    position: absolute;
    margin: 0;
    top: 30vh;
    left: 30vw;
    width: 30rem;
    height: 30rem;
    background: #f8f9fa;
    border-radius: 50%;
    animation-delay: 0.3s;
	z-index: 5;
}
#info .section {
    padding: 0.7rem 2rem;
}
#info .section p {
    margin: 0.8rem auto;
}
#info .section .title {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
#info .section img {
    width: 1.7rem;
    height: auto;
    margin: 0;
    margin-right: 0.7rem;
    margin-bottom: -0.5rem;
}


#section-2 {
    margin: 0;
}

#section-3 {
    height: 110vh;
    text-align: center;
	position: relative;
}
.keyword {
    display: inline-block;
    margin: 2rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    z-index: 10;
    opacity: 0;
    transform-origin: center;
    vertical-align: middle;
}
.keyword div {
    color: #fff;
    background: #ff6b6b;
    padding: 4rem 1rem;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
}
.keyword img {
    display: block;
    width: 5rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.keyword:hover {
    transform: translateY(-0.1);
}

#section-3 .content {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 7vh;
}
#back-circle {
    width: 70vh;
    height: 70vh;
    background: #f8f9fa;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -5vh;
    position: absolute;
    left: calc(50% - 35vh);
    z-index: 1;
    animation-name: cstretchbig;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.keyword:nth-of-type(2) {
    animation-delay: 0.2s;
    margin-top: 13rem;
}
.keyword:nth-of-type(3) {
    animation-delay: 0.4s;
    margin-top: -10rem;
}
.keyword:nth-of-type(4) {
    animation-delay: 0.6s;
    margin-top: 5rem;
}
.keyword:nth-of-type(2) div {
    animation-delay: 0.15s;
    background: #fcc419;
}
.keyword:nth-of-type(3) div {
    animation-delay: 0.3s;
    background: #20c997;
}
.keyword:nth-of-type(4) div {
    animation-delay: 0.45s;
    background: #845ef7;
}


#section-4 {
    width: 100%;
    padding: 5rem 0;
    text-align: center;
    background: #f8f9fa;
}
#skillbox {
    vertical-align: middle;
    padding: 2rem 7rem;
    margin: 0 auto;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all ease-out 0.2s, transform 0s;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#skillbox::-webkit-scrollbar {
   display: none;
}
.skill {
    display: inline-block;
}
.skill:not(:last-child) {
    margin-right: 5rem;
}
.skill img {
    width: 4rem;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    transform-origin: center;
}
.skill:hover img {
    transform: scale(1.1);
}



#section-5 {
    width: 100%;
    height: 180vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.experience {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 49.5vw;
    height: 50vh;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}
.experience .top {
    font-size: 0.95rem;
    vertical-align: middle;
    margin: 0 auto;
}
.experience .top div {
    margin-bottom: 1rem;
}
.experience .top .title {
    font-size: 1.1rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.experience .top .info {
    text-align: left;
    margin: 0 auto;
    max-width: 25rem;
    padding: 2rem 0;
    color: #868e96;
}
.experience .preview {
    display: block;
}
.experience .preview img {
    width: 90%;
    max-width: 40rem;
    height: auto;
    border-radius: 5px;
    border: 0.1rem solid #e9ecef;
}
.experience .skill {
    text-align: left;
    margin: 0;
}
.experience .skill span {
    display: inline-block;
    width: auto;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    margin-right: 0.8rem;
}


#footer {
    width: 100%;
    margin-top: -3.5rem;
    color: #212529;
    text-align: center;
    font-size: 0.95rem;
}
#footer p {
    display: inline-block;
    border-radius: 100rem;
    padding: 0.7rem;
    margin: 0 auto;
    cursor: pointer;
}
#footer p:hover {
    background: #fff;
}


.mobile {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    vertical-align: middle;
    color: #212529;
    font-size: 1rem;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    z-index: 999;
}
.mobile p {
    text-align: center;
    margin: 30vh auto;
}




@media all and (max-width: 1300px) and (min-width: 50px) {

	#header {
		padding: 1rem 1.5rem;
	}

	#profile {
		top: 18vh;
		left: 20vw;
		width: 15rem;
		height: 15rem;
	}
	#profile-box {
		top: 18vh;
		left: 20vw;
		width: 15rem;
		height: 15rem;
	}
	#info {
		padding: 5rem;
		top: 28vh;
		left: 30vw;
		width: 27.5rem;
		height: 27.5rem;
	}

    .text-small {
        width: 60%;
    }

	.circle-big {
		top: -7rem;
		right: -12rem;
		width: 30rem;
		height: 30rem;
	}
    .circle {
        width: 4rem;
        height: 4rem;
    }

	.keyword {
		margin: 2rem 0.5rem;
	}
	.keyword div {
		padding: 4rem 1rem;
		width: 16rem;
		height: 16rem;
	}
	.keyword img {
		width: 4.5rem;
		margin-bottom: 1.3rem;
	}

	.experience {
		width: 49vw;
		height: 50vh;
	}
	.experience .preview img {
	    width: 90%;
	    max-width: 32rem;
	}

	#section-4 {
	    padding: 4rem 0;
	}
	#skillbox {
	    padding: 2rem 6rem;
	}
	.skill:not(:last-child) {
	    margin-right: 4.5rem;
	}
	.skill img {
	    width: 3.7rem;
	}

}

@media all and (max-width: 950px) and (min-width: 50px) {
    #header {
		padding: 1rem 1.5rem;
	}
    #header .section {
        margin-right: 1.2rem;
    }

	#profile {
		top: 15vh;
		left: 15vw;
		width: 14rem;
		height: 14rem;
	}
	#profile-box {
		top: 15vh;
		left: 15vw;
		width: 14rem;
		height: 14rem;
	}
	#info {
		padding: 4.5rem;
		top: 28vh;
		left: 30vw;
		width: 27.5rem;
		height: 27.5rem;
	}
	.circle-big {
		top: -7rem;
		right: -14rem;
		width: 23rem;
		height: 23rem;
	}

    .text-big {
        font-size: 1.2rem;
        padding: 25vh 0;
        padding-bottom: 15vh;
    }
    .text-small {
        font-size: 0.95rem;
        padding-top: 10vh;
        width: 70%;
    }

    .main-title {
        font-size: 12vh;
    }
    .title-design {
        left: -18vw;
        top: 14vh;
        z-index: 1;
    }
    .title-develop {
        transform: rotate(90deg);
        right: -26vw;
        top: 97vh;
        z-index: 10;
    }

	.keyword {
		margin: 2rem 0.5rem;
	}
	.keyword div {
		padding: 4rem 1rem;
		width: 16rem;
		height: 16rem;
	}
	.keyword img {
		width: 4.5rem;
		margin-bottom: 1.3rem;
	}
    .keyword:nth-of-type(2) {
        margin-top: 8rem;
    }
    .keyword:nth-of-type(3) {
        margin-top: -4rem;
    }
    .keyword:nth-of-type(4) {
        margin-top: 2rem;
    }

    #section-5 {
        height: auto;
        padding: 4rem 0;
    }
	.experience {
        float: unset;
		width: 90%;
		height: fit-content;
        margin: 0 auto;
        padding: 2rem 0;
	}
	.experience .preview img {
	    width: 90%;
	    max-width: 40rem;
        margin-bottom: 2rem;
	}

	#section-4 {
	    padding: 4rem 0;
	}
	#skillbox {
	    padding: 2rem 5rem;
	}
	.skill:not(:last-child) {
	    margin-right: 3.8rem;
	}
	.skill img {
	    width: 3.5rem;
	}
}

@media all and (max-width: 550px) and (min-width: 50px) {
    #header {
        padding: 0.6rem 0.8rem;
    }
    #header .section {
        margin-right: 0.8rem;
    }
	#header p {
		padding: 0.6rem;
	}
    #header .header-hide .section:not(.last) {
        display: none;
    }

    #profile {
        top: 10vh;
        left: 10vw;
        width: 12rem;
        height: 12rem;
    }
    #profile-box {
        top: 10vh;
        left: 10vw;
        width: 12rem;
        height: 12rem;
    }
    #info {
        padding: 3.5rem;
        top: 31vh;
        left: 10vw;
        width: 24rem;
        height: 24rem;
        font-size: 0.8rem;
    }
    .circle-big {
	    display: none;
        top: -6rem;
        right: -8rem;
        width: 15rem;
        height: 15rem;
    }
    .circle {
        width: 3rem;
        height: 3rem;
    }

    .text-big {
        font-size: 1rem;
        padding: 30vh 0;
        padding-bottom: 5vh;
        width: 80%;
    }
    .text-small {
        font-size: 0.95rem;
        padding-top: 10vh;
        width: 80%;
    }

    .main-title {
        font-size: 10vh;
    }
    .title-design {
        left: -19vw;
        top: 12vh;
        z-index: 1;
    }
    .title-develop {
        transform: rotate(90deg);
        right: -27vw;
        top: 97vh;
        z-index: 10;
    }
	
    #section-3 .content {
        padding-top: 9vh;
    }
    #back-circle {
	    display: none;
        width: 100vh;
        height: 100vh;
        margin-top: 10vh;
        left: calc(50% - 60vh);
    }
    .keyword {
        margin: 1.5rem 0.5rem;
    }
    .keyword div {
		font-size: 0.9rem;
        padding: 3rem 1rem;
        width: 12rem;
        height: 12rem;
    }
    .keyword img {
        width: 3.5rem;
        margin-bottom: 1rem;
    }
    .keyword:nth-of-type(2) {
        margin-top: 0rem;
    }
    .keyword:nth-of-type(3) {
        margin-top: 0rem;
    }
    .keyword:nth-of-type(4) {
        margin-top: 0rem;
    }

    #section-5 {
        height: auto;
        padding: 4rem 0;
        padding-top: 45vh;
    }
    .experience {
        float: unset;
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        padding: 2rem 0;
    }
	.experience .top {
		width: 90%;
	}
    .experience .preview img {
        width: 90%;
        max-width: 40rem;
        margin-bottom: 2rem;
    }

    #section-4 {
        padding: 3rem 0;
    }
    #skillbox {
        padding: 2rem 3rem;
    }
    .skill:not(:last-child) {
        margin-right: 3rem;
    }
    .skill img {
        width: 2.8rem;
    }

    #footer {
        margin-top: -2.5rem;
        font-size: 0.85rem;
    }
    #footer p {
        padding: 0.4rem;
    }
	
	
.mobile {
    display: block;
	}
	
}
