@import "./reset";
@import "./fonts";

html,
body {
  @include font-regular;
  font-size: 12px;
  line-height: 16px;
  background-color: #0d1117;
  color: #fff;
}

#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 18px;
  box-sizing: border-box;
}
