.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: transform 0.4s ease-out;
	box-sizing: border-box;

	&.on {
		left: calc(var(--padding) * -1);
		right: calc(var(--padding) * -1);

		.inner {
			border-radius: 0;
			border-color: var(--gray1);
		}
	}

	.inner {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: var(--max-width);
		margin: 0 auto;
		padding: var(--padding);
		background-color: var(--gray0);
		border-bottom: 1px solid transparent;
		border-radius: var(--border-radius);
		box-sizing: border-box;
		transition: border-radius ease-out 0.3s, border-color ease-out 0.3s;

		@include mobile {
			padding: var(--padding);
			border-radius: 0;
			border-color: var(--gray1);
		}
	}

	.logo {
		> h1 {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 20px;

			> span {
				@include type-main;
			}
		}
	}

	.nav {
		flex: 1;
		display: flex;
		justify-content: flex-end;

		.item {
			display: inline-block;
			+ .item {
				margin-left: var(--padding);
			}
		}
	}

	.github {
		> svg {
			width: 20px;
			height: 20px;
			.color {
				fill: var(--gray9);
			}
		}
	}
}

.page {
	&-wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--gray1);
		overflow-y: scroll;
		z-index: 1;
	}
	&-inner {
		display: flex;
		flex-direction: column;
		gap: calc(var(--padding) * 4);
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: calc(var(--padding) * 4) 0;
		box-sizing: border-box;
		@include max-width;

		@include mobile {
			padding: 0 0 calc(var(--padding) * 4);
		}
	}
	&-section {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
	}
	&-title {
		padding: calc(var(--padding) * 2);
		color: var(--gray8);
		box-sizing: border-box;
		@include type-main;
	}
}

.section {
	&-wrap {
		position: relative;
		margin: 0 auto;
		@include content-width;
		@include mobile {
			margin: 0 8vw;
		}
	}
	&-inner {
		&.inner-padding {
			padding: 30px 45px;
		}
	}
	&-title {
		background-color: var(--gray1);
		padding: var(--padding) calc(var(--padding) * 2);
		margin-bottom: var(--padding);
		@include type-main;
		@include border-radius;
	}
}

.sticky {
	&-wrap {
		position: relative;
		width: 100%;
		height: calc(2 * var(--vh));
	}
	&-inner {
		position: sticky;
		top: 0;
		height: var(--vh);
	}
}

.cover {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: var(--gray1);
	transition: opacity 0.5s ease-out;
	opacity: 0;

	&.loading {
		opacity: 1;
	}
	&.loaded {
		display: none;
	}

	span {
		display: block;
		font-size: 36px;
		animation: scaling 1s ease-in 0s infinite alternate;
	}
}

@keyframes scaling {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
