@mixin desktop {
	@media all and (min-width: 1024px) {
		@content;
	}
}
@mixin tablet {
	@media all and (min-width: 768px) and (max-width: 1023px) {
		@content;
	}
}
@mixin mobile {
	@media all and (max-width: 760px) {
		@content;
	}
}
// @mixin dark {
//     html.dark {
//         @content;
//     }
// }
@mixin dark {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin type-main {
	font-size: 16px;
	font-weight: 700;
	color: var(--gray8);

	@include mobile {
		font-size: 14px;
	}
}
@mixin type-big {
	font-size: 18px;
	font-weight: 700;
	color: var(--gray8);

	@include mobile {
		font-size: 16px;
	}
}
@mixin type-normal {
	font-size: 14px;
	font-weight: 400;
	color: var(--gray6);

	@include mobile {
		font-size: 12px;
	}
}

@mixin type-black {
	color: var(--color-black);
}
@mixin type-white {
	color: var(--color-white);
}
@mixin type-gray {
	color: var(--color-gray);
}

@mixin bg-black {
	background-color: var(--color-black);
}
@mixin bg-white {
	background-color: var(--color-white);
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin center-x {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
@mixin center-y {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin border-radius {
	border-radius: var(--border-radius);
}
@mixin max-width {
	max-width: var(--max-width);
}
@mixin content-width {
	max-width: var(--content-width);
}

@mixin hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin ignore {
	user-select: none;
	pointer-events: none;
}
