:root {
	--color-black: #1f1f1f;
	--color-white: #fcfcfc;
	--color-gray400: #4f4f4f;
	--color-gray700: #2f2f2f;

	--gray0: #ffffff;
	--gray1: #f0f2f5;
	--gray2: #f1f3f5;
	--gray3: #e1e1e6;
	--gray4: #c7c9cf;

	--gray5: #adb5bd;
	--gray6: #87909a;
	--gray7: #484f5a;
	--gray8: #2d3541;
	--gray9: #1b2026;

	--padding: 16px;
	--border-radius: 10px;
	--max-width: 740px;
	--content-width: 720px;

	@include mobile {
		--padding: 12px;
		--border-radius: 8px;
	}
}

// :root {
//     --color-main: #1f1f1f;
//     --color-sub: #4f4f4f;
//     --color-bg: #fcfcfc;
// }

// @include dark {
//     :root {
//         --color-main: #fafafa;
//         --color-sub: #6f6f6f;
//         --color-bg: #121212;
//     }
// }
