:root {
    --color-main: #1f1f1f;
    --color-sub: #4f4f4f;
    --color-bg: #fcfcfc;
}

@include dark {
    :root {
        --color-main: #fafafa;
        --color-sub: #6f6f6f;
        --color-bg: #141414;    
    }
}