:root {
    --color-black: #1f1f1f;
    --color-white: #fcfcfc;
    --color-gray400: #4f4f4f;
    --color-gray700: #2f2f2f;

    --padding: 14px;
    --border-radius: 12px;
    --max-width: 980px;
}

// :root {
//     --color-main: #1f1f1f;
//     --color-sub: #4f4f4f;
//     --color-bg: #fcfcfc;
// }

// @include dark {
//     :root {
//         --color-main: #fafafa;
//         --color-sub: #6f6f6f;
//         --color-bg: #121212;    
//     }
// }