@import './mixins';
@import './layout';

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-style: normal;
    font-weight: 400;
	font-size: 0.95rem;
    line-height: 1.6;
    border: 0;
    width: 100%;
    height: 100%;
}
a:hover{
	text-decoration:none;
	color: inherit;
}
a, a * {
    cursor: pointer;
    transition: none;
    text-decoration: none;
	color: inherit;
}

html, body {
    overflow: hidden;
    background: #fff;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 110vw;
    height: 110vh;
    background: #151515;
}

main canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title, .subtitle {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, calc(-50% - 24px));
    width: fit-content; color: #fff;
    font-family: 'NEXON Lv1 Gothic OTF Bold'; font-size: 24px; letter-spacing: 8px;
    z-index: 10;
}

.title {
    @include mo {
        font-size: 20px; letter-spacing: 5px; transform: translate(-50%, calc(-50% - 20px));
    }
}
.subtitle {
    transform: translate(-50%, calc(-50% + 24px));
    font-family: 'NEXON Lv1 Gothic OTF'; font-size: 16px; letter-spacing: unset;
}

.github {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.github svg {
    width: 32px;
}

.projects {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    max-width: 800px;
    text-align: center;
}
.projects .project {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}
.projects .project-link { display: block; z-index: 1; color: #fff; mix-blend-mode: difference; padding: 14px 18px; }
.projects .project::before {
    content: ''; display: block; position: absolute; left: 0; top: 0; transform: translateY(101%); background: #fff;
    width: 100%; height: 100%; transition: transform 0.2s ease-out;
}
.projects .project:not(:last-of-type) { margin-right: 10px; }
.projects .project:hover::before {
    transform: translateX(0); 
}

/* Mobile */
@media all and (max-width: 768px) and (min-width: 50px) {
    .title {
        
    }
    .subtitle {
        font-size: 14px;
        transform: translate(-50%, calc(-50% + 20px));
    }
    .github {
        bottom: 12%;
    }
    .github svg {
        width: 28px;
    }

    .projects {
        bottom: 12%;
        width: 94%;
    }
    .projects .project {
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
    }
    .projects .project:not(:last-of-type) { margin-right: 0; }
    .projects .project-link { padding: 8px 10px; }
}
