@import './reset';
@import './mixins';
@import './fonts';
@import './variables';
@import './layout';

html, body {
    padding: 0; margin: 0; overflow: hidden; width: 100%; height: 100%;
}
body {
    font-family: 'NEXON Lv1 Gothic OTF'; font-size: 15px; font-weight: 400; line-height: 1.4;
    color: var(--color-white);
    @include mobile { font-size: 13px; line-height: 1.3; }
}
main { background-color: var(--color-black); }

#p5 {
    position: fixed;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
    width: 110vw; height: 110vh; z-index: 2;
    overflow: hidden; pointer-events: none;
    @include mobile { width: 105vw; height: 105vh; }

    canvas {
        position: relative; width: 100%; height: 100%;
    }
}

.package {
    position: fixed; top: 0; left: 0; width: 100vw; height: var(--vh);
    display: flex; align-items: center; justify-content: center;
    pointer-events: none; z-index: 10;

    &-title {
        display: flex; width: 100px; height: 100px;
        align-items: center; justify-content: center; z-index: 1;
        @include bg-white;
        @include mobile { width: 80px; height: 80px; }

        span {
            font-size: 13px; color: var(--color-black);
            @include mobile { font-size: 12px; }
        }
    }
    &-bg {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        @include bg-white;

        &.hide { opacity: 0; }
    }
    &-guide {
        position: absolute; top: 80%;
        font-size: 14px; color: var(--color-black); opacity: 0.5;
        @include mobile { font-size: 12px; }
    }
}

.block {
    --margin: 15px;
    position: relative; display: inline-block; vertical-align: middle;
    margin-bottom: var(--margin); margin-right: var(--margin); cursor: default;
    @include mobile { --margin: 10px; }

    &-list {
        font-size: 0; margin-right: calc(-1 * var(--margin));
    }
    &-inner {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        text-align: center; word-break: keep-all; box-sizing: border-box;
        width: 150px; height: 150px; padding: 10px;
        border: 1px solid var(--color-white);
        @include mobile { width: 120px; height: 120px; padding: 5px; }

        &.back {
            position: absolute; top: 0; left: 0;
            opacity: 0; visibility: hidden;
            transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
            background-color: var(--color-white);
        }
    }

    &.active {
        .block-inner.back { opacity: 1; visibility: visible; }           
    }

    .title {
        font-size: 15px; color: var(--color-white);
        @include mobile { font-size: 14px; }
    }
    .sub {
        font-size: 12px; margin-top: 8px;
    }
    .desc {
        font-size: 13px; color: var(--color-black);
        @include mobile { font-size: 12px; }
    }
    .tag {
        font-size: 10px; color: var(--color-black);
        margin-right: 5px; margin-bottom: 5px;
    }
}

// background: -webkit-linear-gradient(104deg, var(--color-gray) 20%, var(--color-white) 70%);
// background-clip: text; -webkit-text-fill-color: transparent; -webkit-box-decoration-break: clone;
.github {
    width: 30px;
    @include mobile { width: 24px; }

    .color { fill: var(--color-white); transition: fill 0.4s ease-out; }
}