@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

*, *::after, *::before {
    transition: all ease-out 0.3s;
}

body {
	height: 100%;
	width: 100%; 
	margin: 0; 
	overflow: auto;
	font-family: 'Quicksand', sans-serif;
	color : #222;
	font-size: 1.1rem;
	font-weight: 300;
	background: none;
}
a {
	text-decoration: none !important;
	font-weight: bold;
	color: initial;
}
a:hover{
	text-decoration:none !important;
	color: initial;
}
input, select, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.animated-long {
    animation-duration: 2s;
}
.page {
    text-align: center;
}
.title {
    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
    cursor: default;
    height: 3rem;
}
.title:hover {
    font-size: 1.3rem;
}


.projects {
    margin-top: 2rem;
    
}
.project {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
}
.project:hover {
    border-bottom: 2px solid #222;
}




.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 1100px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.center video {
    width: 100%;
    height: auto;
}


.by {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 2px;
    background: rgba(255,255,255,0.2);
    font-size: 0.9rem;
    color: #222;
    padding: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    z-index: 100;
}




@media all and (min-width: 1200px) {
	
}

@media all and (max-width: 1199px) and (min-width: 960px) {
	
}

@media all and (max-width: 959px) and (min-width: 720px) {
	
}

@media all and (max-width: 719px) and (min-width: 50px) {
    
}

